.about {
  padding-top: 30px;
  padding-bottom: 15px;
}

.about__title {
  @include index-title-h2;
  margin-bottom: 30px;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  position: relative;
  padding-top: 53px;
  margin-bottom: 30px;
  max-width: 200px;
}

.about__item::after {
  position: absolute;
  content: "";
  display: block;
  width: 53px;
  height: 38px;
  top: 0;
  left: -5px;
  background-repeat: no-repeat;
  background-position: top center;
}

.about__item--ball,
.about__item--rocket {
  max-width: 250px;
}

.about__item--flower {
  max-width: 190px;
}

$icons: (
  ball: (3px, -6px),
  flower: (0, -2px),
  gift: (2px, -8px),
  heart: (6px, -3px),
  money: (2px, -3px),
  rocket: (5px, -5px)
);

@each $icon, $pos in $icons {
  $top: nth($pos, 1);
  $left: nth($pos, 2);

  .about__item--#{$icon}::after {
    background-image: url(../img/icon-feature-#{$icon}.svg);
    top: $top;
    left: $left;
  }
}
