.about-video__block {
  border: solid 1px #ececec;
  margin-bottom: 58px;
}

.about-video__block:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.about-video__block:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.about-video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 23px 30px 25px 90px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 33px 30px;
  margin: 0;
  max-width: 150px;
}

.about-video__src {
  position: relative;
  margin-bottom: 27px;
}

.about-video__src::after {
  content: "";
  position: absolute;
  width: 101px;
  height: 77px;
  left: calc(50% - 50px);
  top: calc(50% - 39px);
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s;
}

.about-video__src:hover::after {
  transform: scale(1.2);
}

.about-video__src:active::after {
  transform: scale(0.8);
  opacity: 0.3;
}

.about-video__img {
  min-width: 259px;
  min-height: 150px;
  width: 100%;
  height: auto;
  display: block;
  background-color: #f1f1f1;
}

.about-video__wrapper {
  padding: 0 33px;
  margin-bottom: 32px;
}

.about-video__desc {
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 25px 0;
}
