.featured {
  position: relative;
  padding-bottom: 41px;
}

.featured::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg") repeat-x;
  background-size: auto 6px;
}

.featured__title {
  @include index-title-h2;
}

.featured__tooltip {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.featured__desc {
  margin: 0 0 20px 0;
}

.featured-table {
  line-height: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.featured-table__column {
  padding: 0;
}

.featured-table__column:first-child {
  width: 98px;
}

.featured-table__row {
  display: block;
  border-bottom: 1px solid #ececec;
}

.featured__img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #ececec;
  min-height: 315px;
}

.featured__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
