.main-header {
  text-align: center;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
}

.main-header__logo {
  display: block;
}

.main-header__logo-image {
  width: 86px;
  height: auto;
}

.main-header__logo[href]:hover .main-header__logo-image {
  opacity: 0.6;
}

.main-header__logo[href]:active .main-header__logo-image {
  opacity: 0.3;
}
